json
numpy
os
tqdm
scipy 
itertools
math
pymatgen.ext.matproj 
pymatgen.analysis.phase_diagram 
pymatgen.core.periodic_table 
pymatgen.core.operations 
pymatgen.vis.structure_vtk 
pymatgen.io.cif 
matplotlib
collections 


